* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

body {
  background-color: black;
  height: 100vh;
}

.btn-whats {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  border-radius: 50px;
  text-align: center;
  color: white;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
}

.fa-whatsapp {
  margin-top: 16px;
  color: white;
}

.flex {
  display: flex;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  padding: 40px 4%;
}

header>.interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #5c5c5c;
  text-decoration: none;
  display: inline-block;
  transition: .2s;
}

header nav.menu-desktop a:hover {
  color: #fff;
  transform: scale(1.05);
}

header nav ul {
  list-style-type: none;
}

header nav.menu-desktop ul li {
  display: inline-block;
  padding: 0 40px;
}

/* ESTILO DO MENU MOBILE */

.btn-abrir-menu{
  display: none;
}

.btn-abrir-menu i{
  color: #00FF08;
  font-size: 40px;
}

.menu-mobile{
  background-color: #000;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  width: 0%;
  overflow: hidden;
  transition: .5s;
}

.menu-mobile.abrir-menu{
  width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
  display: block;
}


.menu-mobile .btn-fechar{
  padding: 20px 5%;
}

.menu-mobile .btn-fechar i{
  color: #00FF08;
  font-size: 30px;
}

.menu-mobile nav ul{
  text-align: right;
}

.menu-mobile nav ul li a{
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  padding: 20px 8%;
  display: block;
}   

.menu-mobile nav ul li a:hover{
  background-color: #00FF08;
  color: #000;
}

.overlay-menu{
  background-color: #000000df;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88888;
  display: none;
}


.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #04ff0e;
  border-radius: 20px;
}

section.topo-do-site {
  padding: 40px 4%;
}

section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.topo-do-site h1 {
  color: #fff;
  font-size: 42px;
  line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
  color: #04ff0e;
}

.topo-do-site .txt-topo-site p {
  color: #fff;
  margin: 40px 0;
}

.topo-do-site .img-topo-site img {
  position: relative;
  border-radius: 20px;
  animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
  0% {
    top: 0;
  }

  100% {
    top: 30px;
  }
}

.h2-title {
  display: flex;
  padding: 30px 30px 0px;
  justify-content: center;
  align-items: center;
  color: white;
}

.card-title {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 55px;
}

section.especiliadades {
  padding: 40px 4%;
}

.titulo {
  color: white;
  justify-content: center;
  text-align: center;
}

section.especiliadades .flex {
  gap: 60px;
}

.especiliadades .especialidades-box {
  color: #fff;
  padding: 40px;
  border-radius: 20px;
  margin-top: 45px;
  transition: 0.2s;
}

.especiliadades .especialidades-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #ffffff78;
}

.especiliadades .especialidades-box i {
  font-size: 70px;
  color: #00ff08;
}

.especiliadades .especialidades-box h3 {
  font-size: 28px;
  margin: 15px 0;
}

/* ESTILO DO SOBRE */
section.sobre {
  padding: 80px 4%;
}

section.sobre .flex {
  align-items: center;
  gap: 60px;
}

.sobre .txt-sobre {
  color: #fff;
}

.sobre .txt-sobre h2 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
  color: #00ff08;
  display: block;
}

.sobre .txt-sobre p {
  margin: 20px 0;
  text-align: justify;
}

.sobre .img-sobre {
  position: relative;
  border-radius: 20px;
}

.btn-social button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #00ff08;
  font-size: 22px;
  cursor: pointer;
  margin: 0 5px;
  transition: 0.2s;
}

/* PORTFÓLIO */

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out; /* Adiciona transição para suavizar o efeito */
}

.card:hover {
  transform: scale(1.05); /* Aumenta o tamanho do card quando hover */
}

.card img {
  width: 100%;
  height: 150px; /* Altura fixa */
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.description {
  margin-bottom: 15px;
}

.description p{
  color: white;
}

.technologies {
  margin-bottom: 15px;
}

.technologies span {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #f0f0f0;
  border-radius: 4px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px; /* Espaçamento entre os botões */
}

.button {
  padding: 10px;
  width: calc(48% - 5px); /* Ajuste para a margem direita */
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.code-button {
  background-color: #4CAF50;
  margin-right: 5px; /* Margem direita para separar os botões */
}

.view-button {
  background-color: #3498db;
}
/* ESTILO DO FORMULÁRIO DE CONTATO */
section.formulario {
  padding: 80px 4%;
  box-shadow: 0 0 40px 10px #ffffff1d;
}

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

form input,
form textarea {
  width: 100%;
  background-color: #242424;
  border: 0;
  outline: 0;
  padding: 20px 15px;
  border-radius: 15px;
  color: #fff;
  font-size: 18px;
}

form textarea {
  resize: none;
  max-height: 200px;
}

form .btn-enviar {
  margin-top: 20px;
  text-align: center;
}

form .btn-enviar input {
  width: 120px;
  background-color: #00FF08;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  transition: .2s;
}
footer {
  padding: 40px 4%;
  box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex {
  justify-content: space-between;
}

footer .line-footer {
  padding: 20px 0;
}

.borda {
  border-top: 2px solid #00FF08;
}

footer .line-footer p i {
  color: #00FF08;
  font-size: 22px;
}

footer .line-footer p a {
  color: #fff;
}
